.hero {
  margin: 0px 120px;
  margin-top: 390px;
  margin-left: -200px;
  margin-right: 600px;
}
.hero-text {
  color: black;
  font-size: 90px;
  font-weight: 500px;
  line-height: 90px;
  background: transparent;
  border: 1px none rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 10px;
}
.hero-dot-play {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.hero-dots {
  display: flex;
  align-items: center;
  gap: 23px;
  list-style: none;
}
.hero-dot {
  width: 15px;
  height: 15px;
  background: black;
  border-radius: 7.5px;
  cursor: pointer;
}
.hero-dot.orange {
  background: orangered;
}
