.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: black;
  padding: 10px 40px;
  z-index: 1000;
  border-radius: 0px;
  color: white;
}

.nav-logo {
  font-family: Outfit;
  font-size: 40px;
  font-weight: 500;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 18px;
  gap: 70px;
}
.nav ul a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
  }

  .nav-logo {
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }

  .nav-menu {
    flex-direction: row; /* Keep items in a row */
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 16px;
  }

  .nav-menu li {
    width: auto;
  }

  .nav-menu li a {
    display: block;
    padding: 6px 12px;
  }
}
