.homepage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 70px 100px;
  padding: 40px 30px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.courses-section {
  padding: 50px 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #264653;
}

.courses-section .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.courses-section h3 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #83c5be;
}

.course-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.course-card {
  background-color: white;
  border-radius: 12px;
  padding: 30px 20px;
  width: 300px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.course-card:hover {
  transform: translateY(-5px);
  background: #dad7cd;
}

.course-card h4 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ff5722;
}

.course-card p {
  font-size: 16px;
  color: #666;
}

/* Footer */
.footer {
  padding: 40px 20px;
  background-color: #222;
  color: #eee;
  text-align: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}
@media (max-width: 768px) {
  .courses-section h3 {
    font-size: 24px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .course-cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .course-card {
    width: 90%;
    padding: 20px 15px;
  }

  .course-card h4 {
    font-size: 20px;
  }

  .course-card p {
    font-size: 14px;
  }

  .footer {
    padding: 20px 10px;
  }

  .footer p {
    font-size: 12px;
  }
}
